[core]
	excludesfile = ~/.gitignore_global
	editor = hx
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d "$REMOTE" "$LOCAL"
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "REMOTE"
[pull]
	ff = only
[push]
	default = current
[commit]
	template = ~/.gitmessage
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/.dotfiles"]
	path = ~/projects/config
[includeIf "gitdir:~/projects/"]
	path = ~/projects/config
[includeIf "gitdir:~/afterpay/"]
	path = ~/afterpay/config
[includeIf "gitdir:~/square/"]
	path = ~/square/config

