[core]
	excludesfile = ~/.gitignore_global
	editor = nvr --remote-wait-silent
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d "$REMOTE" "$LOCAL"
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "REMOTE"
[pull]
	ff = only
[push]
	default = current
[includeIf "gitdir:~/.dotfiles/.git"]
	path = ~/projects/config.personal
[includeIf "gitdir:~/projects/**/.git"]
	path = ~/projects/config.personal
[includeIf "gitdir:~/work/**/.git"]
	path = ~/work/config.work
[url "git@work.github.com"]
  insteadOf = git@github.com:AfterpayTouch
[url "git@me.github.com"]
  insteadOf = git@github.com:1bharat
[commit]
	template = ~/.gitmessage
[init]
	defaultBranch = main
