*

!.config/alacritty/alacritty.yml
!.config/fish/config.fish
!.config/nvim/init.nvim
!.config/nvim/autoload/custom.vim
!.gitconfig
!.gitignore
!.gitignore_global
!.rgignore
!.skhdrc
!.terminfo
!.tigrc
!.tmux.conf
!.yabairc
!setup.sh
!xterm-24bit.terminfo

