/*

!.gitignore
!/.config

.config/*

!.config/alacritty

!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/fish/fishfile
!.config/fish/functions
.config/fish/functions/*
!.config/fish/functions/fish_user_key_bindings.fish

!.config/nvim
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/coc-settings.json

!.config/nvim/UltiSnips
!.config/nvim/colors

!.config/nvim/autoload
.config/nvim/autoload/*
!.config/nvim/autoload/custom.vim

!.config/karabiner
.config/karabiner/*
!.config/karabiner/karabiner.json

!.newsboat
.newsboat/*
!.newsboat/config
!.newsboat/urls

!.vifm
.vifm/*
!.vifm/vifmrc

!.w3m
.w3m/*
!.w3m/keymap

!.gitconfig
!.gitignore_global
!.rgignore
!.skhdrc
!.terminfo
!.tigrc
!.tmux.conf
!.yabairc
!setup.sh
!xterm-24bit.terminfo

